body {
    background-color: #FEF9F2;
    color: #000;
}
form[name="users"] {
    gap: 20px;
    padding: 10px;
}
.search-bar {
    padding: 10px;
}
.type-of-users {
    padding: 10px;
}

.table-row, .table-row-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.table-row > div, .table-row-header > div {
    padding: 10px;
    border: 1px solid #789DBC;
}
.table-header {
    font-weight: 600;
    text-align: center;
}
.table-row-header > div {
    border-width: 3px 1.5px 3px 1.5px;
}
.table-row-header > div:first-child {
    border-width: 3px 1.5px 3px 3px;
}
.table-row-header > div:last-child {
    border-width: 3px 3px 3px 1.5px;
}
.search-bar, .type-of-users {
    border: 3px solid #789DBC;
}

.captilize-text {
    text-transform: capitalize;
}
.icon {
    background-color: #8ABFA3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #FEF9F2; 
}

::-webkit-scrollbar-thumb {
    background-color: #789DBC;
}